.bodyColor{
  background: #13466e;
}

.navbar{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111111;
}

.fa-edit,
.fa-trash-alt, .fa-trash {
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    background-color: #2ecc71;
    z-index: -1;
    margin-top: 10px;
}
.fa-circle-exclamation:hover{
    background-color: #fff;
    color: blue;
    filter: drop-shadow(0 10px 8px #fff);
}
#editbtn,#redbtn,.dltbtn{
    border: none;
    background: none;
}
.fa-trash-alt {
    background-color: #e74c3c;
}

.fa-edit:hover {
    background-color: #fff;
    color: #27ae60;
    filter: drop-shadow(0 10px 8px #fff);
}

.fa-trash-alt:hover {
    background-color: #fff;
    color: #e74c3c;
    filter: drop-shadow(0 10px 8px #fff);
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

.red {
    background-color: red;
    color: white;
}

.buttons {
    height: 10vh;
    margin-left: 88px;
}

.white {
    color: white !important;
}

.blue {
    background: #254d59;
    color: white;
}

.card-background {
    background: #254d59 !important;
    border: 2px solid white !important;
}

.note-background {
    background: #13466e !important;
    color: white !important;
    border: 2px solid white !important;
}

.blackWHite{
    background: white;
    color: black;
}